.dialogueClass {
  max-height: 90% !important;
  left: 0px;
  top: 0px;
  position: relative;
  max-width: 90%;
}


.tagdialogueClass {
  max-height: 90% !important;
  left: 0px;
  top: 0px;
  position: relative;
  max-width: 30%;
}
