.div-margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

.e-dialog.e-draggable .e-dlg-header-content {
  border-bottom: none !important;
  padding-top: 5px !important
}


.e-dialog .e-dlg-header-content {
  border-bottom: none !important;
  padding-top: 5px !important
}
