<div class="app-body front_body">
  <div class="main align-items-center">
    <header class="site-header">
      <div class="top-head">
        <div class="container">
          <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#"><img src="assets/front/logo.png" class="logo-img"></a>
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--  <span class="navbar-toggler-icon"></span>-->
            <!--</button>-->

            <div class="ml-auto">
              <a href="#" class="contact-link" style="color:white">Home</a>
              <button (click)="LoginPage();" class="btn theme-btn ml-3">Sign In</button>
              <!--<button (click)="Back();" class="btn theme-btn ml-3">Back</button>-->
            </div>
          </nav>
        </div>
      </div>

    </header>

    <section class="section">
      <div class="lower-section">
        <div class="container">
          <div class="row py-5">
            <div class="col-md-7 banner-col">
              <div class="banner-text-div">
                <div class="automation-head">Thanks for contacting us</div>
                <ul class="banner-list mt-3">
                  <li>For any query, you can mail us on namitasingla@vodafone.com</li>
                  <li>For quick response, you can click on whats icon on the bottom right to chat with us</li>
                </ul>
                <!--<button class="btn video-btn mt-3"><i class="fa fa-play mr-2"></i> Watch Video</button>-->
              </div>
            </div>
       
          </div>
        </div>
      </div>
     
    </section>


    <footer class="site-footer py-4">

      <div class="bottom-right-floating-icon">
        <a href="#"><img src="assets/front/whatsapp.jpg" /></a>
      </div>

      <div class="container">
        <div class="copy-text">Copyrights <i class="fa fa-copyright"></i> 2020 FlexWF, All rights Reserved </div>
      </div>
    </footer>
  </div>
</div>
