.margin_top_35 {
  margin-top: 35px;
}
.float_right {
  float: right;
}
.float_left {
  float:left;
}
.text-align_right {
  text-align: right;
}
.border_radius {
  border: thin solid;
}

/*.e-dialog.e-draggable .e-dlg-header-content {
  margin-bottom: 20px;
  background-color: #e0e0e0;
  border-bottom: thin solid;
}*/
