
<!--<ejs-toast #toasttype id='toasttype' [position]="position" [showCloseButton]="true" class="toastTopPosition"></ejs-toast>


<ejs-dialog #confirmDialog [buttons]='confirmDlgButtons' showCloseIcon="true" [visible]="hidden"
            [content]='confirmcontent' [header]="confirmHeader" [width]="confirmDialogueWidth" isModal="true"></ejs-dialog>



<ejs-dialog class="dialogueClass_70" height="50%" showCloseIcon="true" isModal="true" allowDragging='true' [header]="NotificationsHeader" (beforeClose)="dialogClose()">
  <ng-template #content>
    <p class="notes-flex">
      System will send following emails when user presses this action. You can create email notifications and set multiple recipients for each email.
    </p>
    <div class="margin-top_10">
      <ejs-grid #Notificationgrid id='Notificationgrid' [enableHover]='true' [filterSettings]='filterSettings' [dataSource]='notificationdata' [toolbar]='toolbar' [editSettings]='editSettings' [allowSelection]='true' allowSorting='true' allowFiltering='true' allowTextWrap="true" (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' [allowPdfExport]='true' [gridLines]="lines" [contextMenuItems]="contextMenuItems">
        <e-columns>
          <e-column field='Name' headerText='Name'></e-column>
          <e-column field='Description' headerText='Description'></e-column>
          <e-column field='Step' headerText='Step'></e-column>
          <e-column field='Action' headerText='Action'></e-column>
          <e-column field='Template' headerText='Template'></e-column>
          <e-column field='Subject' headerText='Subject'></e-column>
          <e-column field='Body' headerText='Body'></e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </ng-template>
</ejs-dialog>


<div *ngIf="ShowPopupFlag">
  <ejs-dialog showCloseIcon='true' [header]="NotificationHeader" class="dialogueClass_50" isModal="true" allowDragging='true' [(visible)]="ShowPopupFlag">
    <ng-template #content>
      <form [formGroup]="NotificationForm">
        <div>
          <ejs-textbox placeholder="For Step" floatLabelType="Auto" title="label" #labelStep id="labelStep" [value]="stepvalue" [enabled]="false"></ejs-textbox>
        </div>
        <div>&nbsp;</div>
        <div>
          <ejs-textbox placeholder="For Action" floatLabelType="Auto" title="Action" #labelAction id="labelAction" [value]="SelectedActionName" [enabled]="false"></ejs-textbox>
        </div>
        <div>&nbsp;</div>
        <div [ngClass]="{'e-success': f.Name.valid}">
          <ejs-textbox placeholder="Name*" floatLabelType="Auto" title="Notification Name" required formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"></ejs-textbox>
        </div>
        <div *ngIf="f.Name.touched && f.Name.errors" class="e-error">
          <div *ngIf="f.Name.errors.required">Name is required</div>
          <div *ngIf="f.Name.errors.maxlength">Name cannot be max than 255 characters</div>
        </div>
        <div>&nbsp;</div>

        <div [ngClass]="{'e-success': f.Description.valid}">
          <ejs-textbox placeholder="Description" floatLabelType="Auto" title="Provide description" required formControlName="Description" [ngClass]="{ 'is-invalid': submitted && f.Description.errors }"></ejs-textbox>
        </div>
        <div *ngIf="f.Description.touched && f.Description.errors" class="e-error">
          <div *ngIf="f.Description.errors.maxlength">Decription cannot be max than 4000 characters</div>
        </div>
        <div>&nbsp;</div>

        <div [ngClass]="{'e-success': f.TemplateDD.valid}">
          <ejs-dropdownlist id="tempdropdown" #tempdropdown formControlName="TemplateDD"
                            [dataSource]="SourceTemplate" floatLabelType="Auto" [fields]="Templatefields"
                            (change)="TemplateChange($event)" placeholder='Choose Template'
                            [ngClass]="{ 'is-invalid': submitted && f.Template.errors }"></ejs-dropdownlist>
        </div>
        <div *ngIf="f.TemplateDD.touched && f.TemplateDD.errors" class="e-error">
          <div *ngIf="f.TemplateDD.errors.required">Please select template</div>
        </div>
        <div>&nbsp;</div>
        <div *ngIf="showTemplateData">

          <div>
            <ejs-textbox placeholder="Template subject" floatLabelType="Auto" title="Subject" [value]="EmailSubject" [enabled]="false"></ejs-textbox>
          </div>
          <div>&nbsp;</div>
          <div>
            <ejs-textbox placeholder="Template Body" floatLabelType="Auto" title="Body" [value]="EmailBody" [enabled]="false"></ejs-textbox>
          </div>

        </div>

        <div>&nbsp;</div>
        <div>

          <button *ngIf="ShowCreateBtn" ejs-button class="e-control e-btn e-primary" (click)="Save()">Save</button> &nbsp;
          <button ejs-button class="e-control e-btn e-primary" [disabled]="disable" (click)="showRecipientPopUp()">Manage Recipients</button>&nbsp;
          <button *ngIf="ShowUpdateBtn" ejs-button class="e-control e-btn e-primary" (click)="Update()">Save</button>

        </div>
      </form>
    </ng-template>
  </ejs-dialog>
</div>

<div *ngIf="ShowRecipientPopUpFlag">
  <app-recipients [notificationIdforRecipient]="notificationIdforRecipient"></app-recipients>

</div>-->



