<span>grid Test</span>
<!--<ejs-grid #RowGrid id='RowGrid' [dataSource]='RowGriddata' [allowSelection]='true'
          allowSorting='true' allowFiltering='true'
          allowTextWrap="true"
          (toolbarClick)='RowtoolbarClick($event)' [allowExcelExport]='true' [allowPdfExport]='true'
          gridLines="Both"
          
          [toolbar]='Rowtoolbar'>
  <e-columns>
    <e-column field='Caption' headerText='Label'></e-column>
    <e-column field='Ordinal' headerText='Ordinal'></e-column>
  </e-columns>
</ejs-grid>-->
