.dual-list-groupa,
.dual-list-groupb {
  width: 48%;
}

.dual-list-groupa {
  float: left;
}

.dual-list-groupb {
  float: right;
}


.dialogueClass_70 {
  height: 81% !important;
  width: 70%;
}
