<ejs-toast #toasttype id='toasttype' [position]="position"
           content='test' [showCloseButton]="true"></ejs-toast>

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>
                Generate Password
              </h1>
              <p>Generate your Password in 3 simple steps!</p>
              <ul>

                <li>Answer your security question.</li>
                <li>You will receive unique number (OTP) on your registered email ID.</li>
                <li>Generate new password here by entering OTP recieved over email.</li>
              </ul>

              <p id="displayQuestion">Security Question : &nbsp;&nbsp; {{displayQuestion}}</p>
              <input #displayAnswer type="text" id="displayAnswer" class="form-control" placeholder="Answer"
                     formControlName="displayAnswer" autocomplete="displayAnswer" required>
              <!--<div class="e-float-input" [ngClass]="{'e-success': f.ConfirmPassword.valid}">
                <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
                <span class="e-float-line"></span>
                <label class="e-float-text" for="ConfirmPassword">Confirm Password</label>
              </div>
              <div *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.errors" class="e-error">
                <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.ConfirmPassword.errors.notSame">no matching</div>
              </div>-->
              <br />
              <button ejs-button class="e-control e-btn e-primary" (click)="Verify(displayAnswer.value)">Generate OTP</button>&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

