<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Confirmation</h1>
              <p > Your password has been reset. Please <button class="btn btn-link" (click)="GoToLogin()" >click here to log in</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
</div>
