<ejs-toast #toasttype id='toasttype' [position]="position"
           content='test' [showCloseButton]="true"></ejs-toast>

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">

              <form [formGroup]="changePwdForm">
                <h1>Change Password</h1>

                <div class="e-float-input" [ngClass]="{'e-success': f.Password.valid}">
                  <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Password">Old Password</label>
                </div>
                <div *ngIf="f.Password.touched && f.Password.errors" class="e-error">
                  <div *ngIf="f.Password.errors.required">Password is required</div>
                </div>

                <div class="e-float-input" [ngClass]="{'e-success': f.NewPassword.valid}">
                  <input #password type="password" formControlName="NewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }" />
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="NewPassword">New Password</label>
                </div>
                <app-password-strength [passwordToCheck]="password.value"
                                       (passwordStrength)="passwordValid($event)"></app-password-strength>
                <div *ngIf="f.NewPassword.touched && f.NewPassword.errors" class="e-error">
                  <div *ngIf="f.NewPassword.errors.required">New Password is required</div>
                </div>

                <div class="e-float-input" [ngClass]="{'e-success': f.ConfirmPassword.valid}">
                  <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="ConfirmPassword">Confirm Password</label>
                </div>
                <div *ngIf="submitted && f.ConfirmPassword.errors" class="e-error">
                  <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="submitted && !changePwdForm.get('ConfirmPassword').valid" class="e-error">
                  Passsword and Confirm Password didn't match.
                  </div>
                </div>
                
                <button ejs-button class="e-control e-btn e-primary" (click)="ChangePassword()" [disabled]="!passwordIsValid">Change Password</button>&nbsp;&nbsp;
                <button type="button" ejs-button buttonType="e-primary" class="e-control e-btn e-primary" (click)="goToPrevious()">Cancel</button>
              </form>
              <br/>
              <div>
                Password :
                <ul>
                  <li>Must be at least {{MinLength}} characters!</li>
                  <li>Must contain at least {{MinUpperCase}} in Capital Case!</li>
                  <li>Must contain at least {{MinLowerCase}} Letter in Small Case!</li>
                  <li>Must contain at least {{MinSpecialChars}} Special Character!</li>
                  <li>Must contain at least {{MinNumbers}} digits!</li>
                </ul> 
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
