<ejs-toast #toasttype id='toasttype' [position]="position"
           content='test' [showCloseButton]="true"></ejs-toast>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="setPwdForm">
                <h1>Set New password</h1>

                <ejs-textbox #OTP placeholder="Enter OTP" cssClass="e-float"
                             floatLabelType="Always" formControlName="OTP"></ejs-textbox>

                <ejs-textbox #password type="password" placeholder="New Password" cssClass="e-float"
                             floatLabelType="Always" formControlName="NewPassword"></ejs-textbox><br /><br />
                <app-password-strength [passwordToCheck]="password.value"
                                       (passwordStrength)="passwordValid($event)"></app-password-strength>

                <ejs-textbox type="password" placeholder="Confirm Password" cssClass="e-float"
                             floatLabelType="Always" formControlName="ConfirmPassword"></ejs-textbox>

                <p></p>
                <button ejs-button class="e-control e-btn e-primary" (click)="UpdatePassword()" [disabled]="!passwordIsValid">Update</button>&nbsp;&nbsp;
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
