
  <div class="card">
    <span class="e-icons session"></span>
    <div class="card-content text">
      {{cardLabel}}
    </div>
    <div class="card-content number">
      {{passcounts}}
    </div>
  </div>



  <!--<div class="e-panel" (click)="GetDashboardValue($event)">
    <span id="close" class="e-template-icon e-close-icon" (click)="onCloseIconHandler($event)"></span>
    <div class="e-panel-container">
    
      <div class="btn btn-link">
        <a (click)="showComponentList()">
          <img src="./assets/flex-images/outline_add_box_black_24dp.png" alt="ToolTip" title="Add Component" />
        </a>
      </div>
      <div class="card">
        <span class="e-icons session"></span>
        <div class="card-content text">
          Pending Workflows
        </div>
        <div class="card-content number">
          {{passcounts}}
        </div>
      </div>
    </div>
  </div>-->

