
/*#sectionStyle {
  border-radius: 2px;
  border-style: solid;
  border-color: cadetblue
}
*/
/*.e-tab .e-tab-header {
  background-color: blue;
}*/
/*.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text, .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
  color: white;
}*/
/*.e-tab .e-tab-header .e-toolbar-item .e-active   {
  background-color: orangered;
  color: white;
}*/

/*  .e-tab .e-tab-header .e-toolbar-item:not(.e-active) .e-tab-wrap:hover {
     background-color: orangered;
    color: white;
  }*/
/*
.e-tab .e-toolbar .e-toolbar-items .e-toolbar-item .e-text-wrap {
  height: 50px;
  color:red;
}*/
