<div class="dashboardParent">
  <ejs-dashboardlayout id='editLayout' #editLayout [columns]="5" [cellSpacing]='cellSpacing' [allowResizing]='true' >
    <e-panels>
      <div *ngFor="let panel of panels">        
        <e-panel [sizeX]="panel.sizeX" [sizeY]="panel.sizeY" [row]="panel.row" [col]="panel.col">
          <div [ngSwitch]="panel.ComponentName">
            <div *ngSwitchCase="'Card'">
              <ng-template #content>
                <p>{{panel.ComponentName}} ({{panel.PanelLabel}})</p>
                <app-card [passcounts]="panel.CalculatedData" [cardLabel]="panel.Label"></app-card>
              </ng-template>
            </div>

            <div *ngSwitchCase="'Chart'">
              <ng-template #content>
                <p>{{panel.ComponentName}} ({{panel.PanelLabel}})  Chart-Type={{panel.chartType}}</p>
                <!--<app-pivot-views [jsonSource]="panel.CalculatedData" [chartSource]="panel.chartData"></app-pivot-views>-->
                <app-pivot-views [jsonSource]="panel.CalculatedData" [chartSource]="panel.chartData" [panelId]="panel.id" [configJson]="panel.configJson" source="render"></app-pivot-views>
              </ng-template>
            </div>
            <div *ngSwitchCase="'Grid'">
              <ng-template #content>
                <p>{{panel.ComponentName}} ({{panel.PanelLabel}})</p>
                <app-grid [gridSource]="panel.CalculatedData"></app-grid>
              </ng-template>
            </div>

          </div>
          <!--<div [ngSwitch]="panel.ComponentName">
    <div *ngSwitchCase="'Card'">
      <ng-template #content>
        <p>{{panel.ComponentName}}</p>
        <app-card [passcounts]="panel.CalculatedData" [cardLabel]="panel.Label"></app-card>
      </ng-template>
    </div>

    <div *ngSwitchCase="'BarChart'">
      <ng-template #content>
        <p>{{panel.ComponentName}}</p>
        <app-chart></app-chart>
      </ng-template>
    </div>
    <div *ngSwitchCase="'Reports'">
      <ng-template #content>
        <p>{{panel.ComponentName}}</p>
        <app-grid [gridSource]="panel.CalculatedData"></app-grid>
      </ng-template>
    </div>

  </div>-->
        </e-panel>
        
      </div>
    </e-panels>
  </ejs-dashboardlayout>
</div>
